@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;	
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 0 10vw;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.menu {
	list-style-type: none;
	display: flex;
}

.menu li {
	margin-left: 32px;
}

.menu li:hover {
	opacity: 0.75;
}

.menu li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.banner {
	height: 600px;
	text-align: center;
	position: relative;
}

.banner a {
	height: 100%;
	width: 100%;
}

.mySlides {
	display: none;
	height: 100%;
	width: 100%;
}

.banner img {
	height: 100%;
	width: 100%;
}

.dots {	
	position: absolute;
	right: 4px;
	bottom: 4px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover, .next:hover, .prev:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.pd-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 16px 16px; 
}

.pd-image {
	height: 200px;
	width: auto;
	margin-top: 16px;
}

.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	min-height: 650px;
}

.content img {
	cursor: pointer;
}

#controls {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
}

#controls div {	
	font-size: 32px;
	color: black;
	cursor: pointer;
}

#controls p {
	font-size: 24px;
	margin: 0 8px;
}

.sales {
	display: flex;
	position: relative;
}

.item-container {
	display: flex;
	flex: 1;
	padding: 5%;
	flex-direction: column;
}

.prev, .next {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.item-properties {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.item-properties h3 {
	margin-bottom: 16px;
}

.item-properties p {
	font-size: 16px;
}

.buy-item {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
	align-items: center;
	justify-content: space-between;
}

.buy-item p {
	font-size: 16px;
	margin: 8px 0;
} 

.buy-item h2 {
	margin-bottom: 16px;
}

.btn-submit {
	border: 1px solid transparent;
	background-color: #E3D62F;
	width: 300px;
	height: 40px;
	font-weight: bold;
	margin-top: 32px;
}

.btn-submit:hover {
	opacity: 0.75
}

.div-contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.div-contact p {
	line-height: 40px
}

	